
//font-familly 
$font-family: 'Inter', sans-serif;

//colors
$blue: hsla(227, 92%, 58%, 1);
$gunmetal: hsla(215, 31%, 21%, 1);
$dark-electric-blue: hsla(215, 17%, 44%, 1);
$white: #fff;

//font-size
$heading-xl: 4rem;
$heading-lg: 3rem;
$heading-md: 1.5rem;
$heading-sm: 1.25rem;
$body-lg: 1rem;
$body-md: 0.875rem;


//font-weights 
$fw-regular: 400;
$fw-semi-bold: 600;
 

//line-height
$lh-xl: 150%;
$lh-lg: 110%;

//letter-spacing
$ls-xl: -3.2px;
$ls-lg: -2.4px;
$ls-md: -1.2px;
$ls-sm: -1px;